{{ define "head" }}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z0700" }}">
    <meta property="article:modified_time" content="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
    <meta property="article:author" content="{{ .Site.BaseURL | absLangURL }}">
    <meta property="article:section" content="{{ (.Site.GetPage "section" .Section).Title }}">
    {{- range .GetTerms "tags" }}
        <meta property="article:tag" content="{{ .LinkTitle }}">
    {{- end }}
    {{- if .Params.description }}
        <meta name="description" property="og:description" content="{{ .Params.description }}">
    {{- else if .Summary }}
        <meta name="description" property="og:description" content="{{ .Summary }}">
    {{- end }}
    <meta property="og:type" content="article">
    {{- if .Params.og_image }}
        <meta property="og:image" content="{{ .Params.og_image }}">
        {{- if .Params.og_image_alt }}
            <meta property="og:image:alt" content="{{ .Params.og_image_alt }}">
        {{- end }}
    {{- else if .Site.Params.og_image }}
        <meta property="og:image" content="{{ .Site.Params.og_image }}">
        {{- if .Site.Params.og_image_alt }}
            <meta property="og:image:alt" content="{{ .Site.Params.og_image_alt }}">
        {{- end }}
    {{- end }}
{{- end }}
{{ define "main" }}
<div class="govuk-width-container">
    {{ partial "breadcrumb.html" . }}
    <main class="govuk-main-wrapper" id="main-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{{ .Title }}</h1>
                <p class="govuk-body-s app-muted">
                    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                    {{ $dateHuman := .Date | time.Format ":date_long" }}
                    {{ T "Last modified" }}: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </p>
                <div class="app-content">
                    {{- .Content }}
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
    </main>
</div>
{{ end }}
