.app-contact-list-label {
  @extend .govuk-table__cell;
  width: 128px;
}

@media (min-width:40.0625em) {
  .app-contact-list-label {
    width: 170px;
  }
}

.app-contact-list-item {
  @extend .govuk-table__cell;
  padding: 0;
}

.app-contact-list-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
}

.app-contact-list-item a:hover {
  background-color: govuk-colour("light-grey");
}

.app-contact-list-item i {
  color: $govuk-text-colour;
}

.app-contact-list-item-text {
  text-decoration: underline;
}
