
.govuk-header__logo {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
}

.app-breadcrumbs-no-language-switcher {
  padding-top: 52.25px;
}

.app-muted {
  color: $govuk-secondary-text-colour;
}

.app-home-section {
  border-top: $govuk-text-colour 5px solid;
  padding-top: 10px;
}

.app-home-section img {
  max-width: 100%;
}

.app-contact-list-item {
  padding: 0;
  border-bottom: 1px solid $govuk-border-colour;
}

.app-sidebar-section {
  margin-bottom: 24px;
}

.app-contact-list-item a {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px 0 10px 0;
}

.app-contact-list-item a:hover {
  background-color: govuk-colour("light-grey");
}

.app-contact-list-item i, .app-links-list-item i {
  color: $govuk-text-colour;
}

.app-contact-list-item address {
  text-decoration: underline;
}

.app-links-list {
  font-family: $govuk-font-family;
  font-size: 19px;
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
}

.app-links-list-item {
  border-bottom: 1px solid $govuk-border-colour;
}

.app-links-list-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px 0 10px 0;
}

.app-links-list a:hover {
  background-color: govuk-colour("light-grey");
}

.app-friends-name {
  text-decoration: underline;
}
