<!DOCTYPE html>
<html
        lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
        dir="{{ or site.Language.LanguageDirection `ltr` }}"
        prefix="foaf: http://xmlns.com/foaf/0.1/
                dc: http://purl.org/dc/terms/
                og: https://ogp.me/ns#
                article: https://ogp.me/ns/article#
                profile: https://ogp.me/ns/profile#">
<head>
  {{ partial "head.html" . }}
  {{ block "head" . }}{{ end }}
</head>
<body class="govuk-template__body">
  <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
  <header class="govuk-header" data-module="govuk-header">
    {{ partial "header.html" . }}
  </header>
  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Alpha
        </strong>
        <span class="govuk-phase-banner__text">
        This is a website.
      </span>
      </p>
    </div>
    {{- if .Translations }}
    <nav class="hmrc-language-select" aria-label="Language switcher">
      <ul class="hmrc-language-select__list">
        <li class="hmrc-language-select__list-item">
          <span aria-current="true">{{ or .Language.LanguageName .Language.Lang }}</span>
        </li>
        {{- range .Translations }}
        <li class="hmrc-language-select__list-item">
          <a href="{{ .RelPermalink }}" hreflang="{{ .Language.LanguageCode }}" lang="{{ .Language.LanguageCode }}" rel="alternate" class="govuk-link">
            <span class="govuk-visually-hidden">{{ .Language.Params.changeText }}</span>
            <span aria-hidden="true">{{ or .Language.LanguageName .Language.Lang }}</span></a>
        </li>
        {{- end }}
      </ul>
    </nav>
    {{- end }}
  </div>
  {{ block "main" . }}{{ end }}
  <footer class="govuk-footer">
    {{ partial "footer.html" . }}
  </footer>
  {{ partialCached "js.html" . }}
</body>
</html>
