{{ define "main" }}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content">
    {{ .Content }}
  </main>
  <div class="app-home-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Latest Post" }}</h2>
    {{- range first 1 site.RegularPages }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s govuk-!-margin-bottom-0 app-muted">
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          </p>
          <h3 class="govuk-heading-s govuk-!-font-size-27 govuk-!-padding-top-0"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
          <p class="govuk-body">{{ .Summary }}</p>
        </div>
      </div>
    {{- end }}
  </div>
  <div class="app-home-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Friends" }}</h2>
  </div>
  <div class="app-home-section">
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Contact" }}</h2>
  </div>

</div>
{{ end }}
