{{ define "head" }}
    <meta property="og:title" content="{{ .Site.Title }}">
    {{- if .Site.Params.description }}
        <meta name="description" property="og:description" content="{{ .Site.Params.description }}">
    {{- end }}
    <meta property="og:type" content="profile">
    {{- with .Site.Params.first_name }}
        <meta property="profile:first_name" content="{{ . }}">
    {{- end }}
    {{- with .Site.Params.last_name }}
        <meta property="profile:last_name" content="{{ . }}">
    {{- end }}
    {{- with .Site.Params.username }}
        <meta property="profile:username" content="{{ . }}">
    {{- end }}
    {{- if .Site.Params.og_image }}
        <meta property="og:image" content="{{ .Site.Params.og_image }}">
        {{- if .Site.Params.og_image_alt }}
            <meta property="og:image:alt" content="{{ .Site.Params.og_image_alt }}">
        {{- end }}
    {{- end }}
{{- end }}
{{ define "main" }}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content">
        {{ .Content }}
        <section class="app-home-section">
            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Latest Posts" }}</h2>
            <div class="govuk-grid-row">
                {{- range first 2 site.RegularPages }}

                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body-s govuk-!-margin-bottom-0 app-muted">
                        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                        {{ $dateHuman := .Date | time.Format ":date_long" }}
                        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    </p>
                    <h3 class="govuk-heading-s govuk-!-font-size-27 govuk-!-padding-top-0"><a
                            href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
                    <p class="govuk-body">{{ .Summary }}</p>
                </div>

                {{- end }}
            </div>
        </section>
        <section class="app-home-section">
            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Contact" }}</h2>
            <p class="govuk-body">
                {{ T "You can contact me with any of the following methods:" }}
            </p>
            <div class="govuk-grid-row">
                <address class="govuk-grid-column-two-thirds">
                    <table class="govuk-table">
                        {{- range sort (where .Site.Params.contact "hidden" "ne" true) "weight" }}
                            <tr>
                                <td class="govuk-table__cell">
                                    {{ T .method }}
                                </td>
                                <td class="app-contact-list-item">
                                    <a href="{{ .url }}" rel="me">
                                        <i aria-hidden="true" class="{{ .icon }}"></i>
                                        <span class="app-contact-list-item-text">{{ .text }}</span>
                                    </a>
                                </td>
                            </tr>
                        {{ end }}
                    </table>
                </address>
            </div>
        </section>
        <section class="app-home-section">
            <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-3">{{ T "Friends" }}</h2>
            <p class="govuk-body">
                {{ T "Check out my friends' websites:" }}
            </p>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <ul class="app-links-list">
                        {{ range (sort .Site.Params.friends "weight") }}
                        <li class="app-links-list-item">
                            <a href="{{ .url }}" rel="{{ delimit .xfn " " }}">
                            <i class="{{ if .icon }}{{ .icon }}{{ else }}las la-user{{ end }}" aria-hidden="true"></i>
                            <span class="app-links-list-item-text">{{ .name }}</span>
                            <span class="govuk-visually-hidden">XFN tags:</span>
                            {{ range .xfn }}
                                <span class="govuk-tag">
                                    {{ . }}
                                </span>
                            {{ end }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </section>
    </main>
</div>
{{ end }}
