{{- with resources.Get "js/govuk-frontend.min.js" }}
  {{- with . | fingerprint }}
    <script type="module" src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
    <script type="module">
      import { initAll } from '{{ .RelPermalink }}'
      initAll()
    </script>
  {{- end }}
{{- end }}
{{- $opts := (dict "targetPath" "js/main.js") }}
{{- with resources.Get "js/main.ts" | js.Build $opts }}
  {{- with . | fingerprint }}
    <script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{- end }}
{{- end }}