{{ if .IsPage }}
<aside aria-describedby="app-sidebar-share-heading" class="app-sidebar-section">
    <h1 class="govuk-heading-s" id="app-sidebar-share-heading">
        {{ T "Share" }}
    </h1>
    <ul class="app-links-list" id="app-share-list" data-copy-text="{{ T "Copy to clipboard" }}" data-more-text="{{ T "More" }}">
        <li class="app-links-list-item">
            <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-facebook"></i>
                <span class="app-links-list-item-text">
                    <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                    {{ T "Facebook" }}
                </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-reddit"></i>
                <span class="app-links-list-item-text">
                        <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                        {{ T "Reddit" }}
                    </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-twitter"></i>
                <span class="app-links-list-item-text">
                    <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                    {{ T "Twitter" }}
                </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-linkedin"></i>
                <span class="app-links-list-item-text">
                        <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                        {{ T "LinkedIn" }}
                    </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://api.whatsapp.com/send?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-facebook"></i>
                <span class="app-links-list-item-text">
                    <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                    {{ T "WhatsApp" }}
                </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://bsky.app/intent/compose?text={{ .Title }} {{ .Permalink }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-bluesky"></i>
                <span class="app-links-list-item-text">
                                <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                                {{ T "Bluesky" }}
                </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://www.tumblr.com/share/link?url={{ .Permalink }}&name={{ .Title }}&description={{ .Summary | strings.Truncate 50 }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-tumblr"></i>
                <span class="app-links-list-item-text">
                    <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                    {{ T "Tumblr" }}
                </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://telegram.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-telegram"></i>
                <span class="app-links-list-item-text">
                        <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                        {{ T "Telegram" }}
                    </span>
            </a>
        </li>

        <li class="app-links-list-item">
            <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" target="_blank" rel="noopener">
                <i aria-hidden="true" class="fa-brands fa-fw fa-hacker-news"></i>
                <span class="app-links-list-item-text">
                        <span class="govuk-visually-hidden">{{ T "Share with" }}</span>
                        {{ T "Hacker News" }}
                    </span>
            </a>
        </li>
    </ul>
</aside>
{{ end }}

{{- with .Site.Params.contact }}
<address aria-describedby="app-sidebar-contact-heading" class="app-sidebar-section">
    <h1 class="govuk-heading-s" id="sidebar-contact-heading">{{ T "Contact" }}</h1>
    <ul class="app-links-list">
        {{- range sort (where . "hidden" "ne" true) "weight" }}
        <li class="app-links-list-item">
            <a aria-label="{{ .method }}" href="{{ .url }}" rel="me noopener" target="_blank">
                <i aria-hidden="true" class="fa-fw {{ .icon }}"></i>
                <span class="app-links-list-item-text">
                    {{ .text }}
                </span>
            </a>
        </li>
        {{ end }}
    </ul>
</address>
{{- end }}

{{- with .Site.Params.support }}
<aside aria-describedby="app-sidebar-support-heading" class="app-sidebar-section">
    <h1 class="govuk-heading-s" id="sidebar-support-heading">{{ T "Support" }}</h1>
    <ul class="app-links-list">
        {{- range sort . "weight" }}
        <li class="app-links-list-item">
            <a aria-label="{{ .method }}" href="{{ .url }}" rel="me noopener" target="_blank">
                <i aria-hidden="true" class="fa-fw {{ .icon }}"></i>
                <span class="app-links-list-item-text">
                    {{ .text }}
                </span>
            </a>
        </li>
        {{ end }}
    </ul>
</aside>
{{- end }}

<nav aria-describedby="app-sidebar-friends-heading" class="app-sidebar-section">
    <h1 class="govuk-heading-s" id="app-sidebar-friends-heading">{{ T "Friends" }}</h1>
    <ul class="app-links-list">
        {{ range (sort .Site.Params.friends "weight") }}
        <li class="app-links-list-item">
            <a href="{{ .url }}" rel="{{ delimit .xfn ' ' }} noopener" target="_blank">
                <i aria-hidden="true" class="fa-fw {{ if .icon }}{{ .icon }}{{ else }}fa-regular fa-user{{ end }}"></i>
                <span class="app-links-list-item-text">{{ .name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>