{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonony.

@example: {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := T ((index . 0).Parent.LinkTitle) }}
  <div>
    <p class="govuk-visually-hidden">{{ $label }}:</p>
      {{- range . }}
        <a href="{{ .RelPermalink }}"><strong class="govuk-tag">{{ .LinkTitle }}</strong></a>
      {{- end }}
  </div>
{{- end }}
